.box {
	height: 100px;
	margin-bottom: 10px;
	font-weight: 700;
	background-color: green;
}
.box2 {
	height: 100px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 700;
	background-color: blueviolet;
}
.box3 {
	height: 100px;
	text-align: center;
	font-weight: 700;
	background-color: green;
}
.box4 {
	height: 100px;
	text-align: center;
	font-weight: 700;
	background-color: antiquewhite;
}
.container {
	margin-bottom: 10px;
}
.mh_c {
	height: 200px;
	background-color: green;
}
.box5 {
	width: 150px;
	height: 75px;
}
.box6 {
	height: 75px;
	border: 5px solid green;
}